<section
  class="min-h-screen bg-no-repeat bg-cover bg-top"
  style="background-image: url('/images/img-1.jpg');"
>
  <div class="text-white bg-black/60">
    <div
      class="container mx-auto px-5 py-10 lg:py-20 flex flex-col items-center justify-center text-center min-h-screen relative"
    >
      <div class="absolute top-0 p-5 bg-slate-800 rounded-b-lg mx-5">
        <a href="/" class="flex flex-col items-center ">
          <img src="/logo/logo.png" alt="" class="h-16" />
          <span class="sm:text-lg lg:text-xl font-bold">Goa Association Of Squash</span>
          <p class="text-center text-xs text-slate-300/70 italic">Society Regn. #138/Goa/2014 dated 13 Sept. 2014</p>
        </a>
      </div>
      <h1>
        <span class="text-4xl lg:text-6xl font-black mt-2">Registration for <br /> the National Games</span>
        <span class="text-2xl lg:text-4xl block mt-2">Goa State Team 2023</span>
      </h1>
      <div class="flex gap-5 lg:items-center mt-8 flex-col sm:flex-row justify-center">
        <label for="terms-modal" class="btn">Terms & Conditions</label>
        <a href="#register" class="btn btn-primary">Registration Form</a>
      </div>
    </div>
  </div>
</section>
