<section class="px-4">
  <div
    class="w-full max-w-2xl bg-slate-800 mx-auto -mt-32 rounded-t-lg p-8"
  >
    <form id="register"
      action="ng2023@goasquash.in"
      method="POST"
      class="flex flex-col items-center gap-5"
    >
      <div class="alert shadow-lg hidden" id="thanks-alert">
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
          <span
            >We have received your form submission. A copy of the submission is
            sent to your inbox.</span
          >
        </div>
      </div>
      <div class="w-full grid gap-5 sm:grid-cols-2">
        <div class="form-control w-full max-w-xs mx-auto flex flex-col">
          <label class="label">
            <span class="label-text"
              >Name <span class="text-red-500 text-lg">*</span>
            </span>
          </label>
          <input
            name="name"
            required="required"
            type="text"
            placeholder="John Doe"
            class="input input-bordered w-full max-w-xs z-10"
          />
        </div>
        <div class="form-control w-full max-w-xs mx-auto flex flex-col">
          <label class="label">
            <span class="label-text"
              >Phone number <span class="text-red-500 text-lg">*</span>
            </span>
          </label>
          <input
            maxlength="10"
            minlength="10"
            name="phoneNumber"
            required="required"
            type="tel"
            placeholder="9822334455"
            class="input input-bordered w-full max-w-xs z-10"
          />
        </div>
      </div>
      <div class="w-full grid gap-5 sm:grid-cols-2">
        <div class="form-control w-full max-w-xs mx-auto flex flex-col">
          <label class="label">
            <span class="label-text"
              >Email address <span class="text-red-500 text-lg">*</span>
            </span>
          </label>
          <input
            name="email"
            required="required"
            type="email"
            placeholder="john@doe.com"
            class="input input-bordered w-full max-w-xs z-10"
          />
        </div>
        <div class="form-control w-full max-w-xs mx-auto flex flex-col">
          <label class="label">
            <span class="label-text"
              >Date of birth <span class="text-red-500 text-lg">*</span>
            </span>
          </label>
          <input
            name="dob"
            required="required"
            placeholder="mm/dd/yyyy"
            type="date"
            class="input input-bordered w-full max-w-xs z-10"
          />
        </div>
      </div>
      <div class="w-full grid gap-5 sm:grid-cols-2">
        <div class="form-control w-full max-w-xs mx-auto flex flex-col">
          <label class="label">
            <span class="label-text"
              >GAS Registration Number <span class="text-red-500 text-lg"
                >*</span
              >
            </span>
          </label>
          <input
            name="gas"
            required="required"
            type="text"
            placeholder="XXXX1234"
            class="input input-bordered w-full max-w-xs z-10"
          />
        </div>
        <div class="form-control w-full max-w-xs mx-auto flex flex-col">
          <label class="label">
            <span class="label-text">iSpin number</span>
          </label>
          <input
            name="ispin"
            type="text"
            placeholder="XXXX1234"
            class="input input-bordered w-full max-w-xs z-10"
          />
        </div>
      </div><div class="w-full grid gap-5 sm:grid-cols-2">
        <div class="form-control w-full max-w-xs mx-auto flex flex-col">
          <label class="label">
            <span class="label-text"
              >Aadhaar card number<span class="text-red-500 text-lg"
                >*</span
              >
            </span>
          </label>
          <input
            name="aadhaar"
            required="required"
            type="number"
            placeholder="1234123412341234"
            min="0"
            minlength="16"
            maxlength="16"
            class="input input-bordered w-full max-w-xs z-10"
          />
        </div>
        <div class="form-control w-full max-w-xs mx-auto flex flex-col">
          <label class="label">
            <span class="label-text">Years of domicile in Goa</span>
          </label>
          <input
            name="domicile"
            type="number"
            placeholder="0"
            min="0"
            max="100"
            class="input input-bordered w-full max-w-xs z-10"
          />
        </div>
      </div>
      <div class="w-full hidden" id="parents-details">
        <div class="w-full grid gap-5 sm:grid-cols-2">
          <div class="form-control w-full max-w-xs mx-auto flex flex-col">
            <label class="label">
              <span class="label-text"
                >Parent's name <span class="text-red-500 text-lg">*</span>
              </span>
            </label>
            <input
              name="parentName"
              type="text"
              placeholder="Jane Doe"
              class="input input-bordered w-full max-w-xs z-10"
            />
          </div>
          <div class="form-control w-full max-w-xs mx-auto flex flex-col">
            <label class="label">
              <span class="label-text"
                >Parent's phone number <span class="text-red-500 text-lg"
                  >*</span
                ></span
              >
            </label>
            <input
              maxlength="10"
              minlength="10"
              name="parentPhone"
              type="tel"
              placeholder="9822334455"
              class="input input-bordered w-full max-w-xs z-10"
            />
          </div>
        </div>
      </div>
      <input type="hidden" name="_subject" value="New registration at GAS!" />
      <input type="text" name="_honey" style="display:none" />
      <input type="hidden" name="_template" value="table" />
      <input
        type="hidden"
        name="_autoresponse"
        value="We have received your response. Thanks for registering for the National Games 2023 with Goa Association of Squash."
      />
      <input
        type="hidden"
        name="_next"
        value="https://goasquash.in/#register?thanks"
      />

      <div>
        <div class="form-control">
          <div class="w-full flex items-center gap-2 flex-row mt-4">
            <input
              required="required"
              type="checkbox"
              class="checkbox checkbox-sm"
            />
            <span class="label-text"
              >I have read the
              <label for="terms-modal" class="underline cursor-pointer"
                >Terms & Conditions</label
              ></span
            >
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary w-full md:w-fit">Send</button
      >
    </form>
  </div>
</section>

<script is:inline>
  const calculateAge = (dob) => {
    const birthDate = new Date(dob);
    const currentDate = new Date();
    const birthYear = birthDate.getFullYear();
    const birthMonth = birthDate.getMonth();
    const birthDay = birthDate.getDate();
    const currentYear = currentDate.getFullYear();
    const currentMonth = currentDate.getMonth();
    const currentDay = currentDate.getDate();
    let age = currentYear - birthYear;
    if (
      currentMonth < birthMonth ||
      (currentMonth === birthMonth && currentDay < birthDay)
    )
      age--;
    return age;
  };

  const getFormattedDate = (date) => {
    const year = date.getFullYear();
    const month = String(date.getMonth() + 1).padStart(2, "0");
    const day = String(date.getDate()).padStart(2, "0");
    return `${year}-${month}-${day}`;
  };

  const today = new Date();
  const formattedDate = getFormattedDate(today);
  const dateInput = document.querySelector('input[type="date"]');
  dateInput.setAttribute("max", formattedDate);
  dateInput.setAttribute("min", "1950-01-01");

  const parentsDetails = document.querySelector("#parents-details");
  const parentInputs = document.querySelectorAll("#parents-details input");

  dateInput.addEventListener("input", (e) => {
    const inputtedDate = e.target.value;
    if (calculateAge(inputtedDate) < 18) {
      parentsDetails.classList.remove("hidden");
      parentInputs.forEach((input) =>
        input.setAttribute("required", "required")
      );
    } else {
      parentsDetails.classList.add("hidden");
      parentInputs.forEach((input) => input.removeAttribute("required"));
    }
  });

  const url = document.URL;
  const isThanks = url.includes("thanks");
  const alert = document.querySelector("#thanks-alert");

  if (isThanks) {
    alert.classList.remove("hidden");
    alert.scrollIntoView();
  } else alert.classList.add("hidden");
</script>
