<header class="shadow-xl shadow-emerald-200/10">
    <div class="container mx-auto px-5 py-5 flex items-center justify-between">

        <a href="/" class="text-lg font-bold hover:text-emerald-300 transition-colors">Goa Association Of Squash</a>

        <nav class="flex items-center gap-5">
            <a href="#" class="py-2 px-4 hover:text-emerald-300 transition-colors">Home</a>
            <a href="#" class="py-2 px-4 hover:text-emerald-300 transition-colors">T&C</a>
            <a href="#" class="bg-emerald-300 py-2 px-4 rounded-lg text-black hover:bg-emerald-500 transition-colors">Register</a>
        </nav>

    </div>
</header>